package main

templ hello(date, title, body string) {
	<div class="article">
            <article>
                <h6> { date } </h6>
                <h1> { title } </h1>
                <h5> { body }</h5>
            </article>
        </div>
}